<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<h1>Users</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">

        <td th:utext="${user.id}"></td>
        <td th:utext="${user.name}"></td>
        <td th:utext="${user.surname}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.email}"></td>
        <td>
        <form action="#" th:action="@{/update-user}">
            <button type="submit" th:name="userId" th:value="${user.id}">Update</button>
        </form>
        </td>

        <td>
        <form action="#" th:action="@{/delete-user}">
            <button type="submit" th:name="userId" th:value="${user.id}">Delete</button>
        </form>
        </td>
    </tr>
</table>
<br>
<input type="button" value="Add"
    onclick="window.location.href='add-new-user'"/>
</body>
</html>